<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Js-6 hometask</title>
</head>
<body>
     <!-- task 2 -->
    <!-- <main>
        <div class="container">
            <h1>
            Counter
            </h1>
            <span class="value" id="value">0</span>
            <div class="button-container">
                <button class="btn decrease">Decrease</button>
                <button class="btn reset">Reset</button>
                <button class="btn increase">Increase</button>
            </div>

        </div>
    </main> -->
    


<!-- 1st way
    <p class="counter" id="counter">0</p>
<button id="Decrease">Decrease</button>
<button id="Reset">Reset</button>
<button id="Increase">Increase</button> -->





<!-- tam bitmiyib -->
<!-- <nav>
    <div class="nav-center">
        <h4>Color Flipper</h4>
        <ul class="nav-link">
            <li>
                <a href="index.html">simple</a>
            </li>
            <li>
                <a href="#hex.html">hex</a>
            </li>
        </ul>
    </div>
</nav>
<main>
    <div class="container">
        <h2>background color:<span class="color">
         "</span></h2>
        <button class="btn btn-hero" id="btn">click me</button>
    </div>
</main>
 -->

    <script src="../lib/script.js"></script>
</body>
</html>